/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #f9f9f9;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  max-width: 414px;
  margin: 0 auto;
}

/* Header */

header {
  background-color: #1e1f21;
  margin: 0 auto;
}

header figure {
display: flex;
justify-content: center;
}

header img {
  height: 50px;
}

header ul {
  font-weight: 700;
  color: rgba(249, 249, 249, 0.65);
  letter-spacing: 1.5px;
  line-height: 1.38;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

header li {
  display: inline;
  padding-bottom: 5px;
}

.dash {
  opacity: 0.5;
}

.on-page {
  color: #f9f9f9;
  border-bottom: 3px solid #0078fd;
}

/* Group A Table */

.center-text {
  font-size: 18px;
  padding-top: 25px;
  text-align: center;
}

.group-standings {
  font-size: 14px;
  font-weight: 400;
  padding-top: 25px;
}

#groups {
  width: 100%;
  padding: 10px 10px;
  margin-top: 10px;
  border-top: 1px solid rgba(249, 249, 249, 0.25);
}

#groups-b {
  width: 100%;
  padding: 10px 10px;
  margin-top: 10px;
  border-top: 1px solid rgba(249, 249, 249, 0.25);
}

th {
  padding: 10px 0;
}

tr {
  background-color: #1e1f21;
  border-bottom: 1px solid rgba(249, 249, 249, 0.25);
}

.group-name {
  background-color: #1e1f21;
  text-align: center;
  padding-top: 10px;
}

td {
  background-color: #000000;
  padding: 15px 20px;
}

.team-name {
  text-align: left;
  /* display: flex;
  justify-content: flex-start; */
}

.team-name img {
  width: 16px;
  padding-right: 10px;
}

/* footer */

footer {
  background-color: #1e1f21;
  margin: 0 auto;
  margin-top: 25px;
 
  display: flex;
  justify-content: center;
  align-items: center;

}

footer p{
  color: #7b7b7c;
  font-size: 13px;
  padding: 20px 0px;
}

