/* footer */

footer {
  background-color: #1e1f21;
  margin: 0 auto;
  margin-top: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #7b7b7c;
  font-size: 13px;
  padding: 20px 0px;
}
