/* Header */

header {
  background-color: $darkGrey;
  margin: 0 auto;
  // position: fixed;
  // top: 0;
  // width: 100%;

  figure {
    display: flex;
    justify-content: center;
  }

  img {
    height: 50px;
  }

  ul {
    font-weight: 700;
    color: rgba(249, 249, 249, 0.65);
    letter-spacing: 1.5px;
    line-height: 1.38;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  li {
    display: inline;
    padding-bottom: 5px;
    cursor: pointer;
  }
  a {
    color: rgba(249, 249, 249, 0.65);

    text-decoration: none;

    &:visited {
      color: rgba(249, 249, 249, 0.65);
    }
  }
}

.dash {
  opacity: 0.5;
}

#on-page {
  color: $offWhite;
  border-bottom: 3px solid #0078fd;
  a {
    color: $offWhite;

    &:visited {
      color: $offWhite;
    }
  }
}
