/* Group A Table */

.center-text {
  font-size: 18px;
  padding-top: 25px;
  padding-left: 25px;
  text-align: left;
  font-weight: 700;
}

.group-standings {
  font-size: 14px;
  font-weight: 400;

  a {
    color: $offWhite;
    text-decoration: none;
    &:visited {
      color: $offWhite;
    }
  }
}

#groups {
  width: 100%;
  padding: 10px 10px;

  border-top: 1px solid rgba(249, 249, 249, 0.25);
}

#groups-b {
  width: 100%;
  padding: 10px 10px;
  margin-top: 10px;
  border-top: 1px solid rgba(249, 249, 249, 0.25);
}

th {
  padding: 10px 0;
}

tr {
  background-color: #1e1f21;
  border-bottom: 1px solid rgba(249, 249, 249, 0.25);
}

.group-name {
  background-color: #1e1f21;
  text-align: center;
  margin-top: 20px;
  padding: 12px 0;
  font-size: 14px;
}

td {
  background-color: #000000;
  padding: 15px 20px;
}

.team-name {
  text-align: left;
  /* display: flex;
    justify-content: flex-start; */
  img {
    width: 16px;
    height: 16px;
    padding-right: 10px;
  }
}
