body {
  color: $offWhite;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  max-width: 414px;
  margin: 0 auto;
  // a {
  //   color: $offWhite;
  //   text-decoration: none;
  //   &:visited {
  //     color: $offWhite;
  //   }
}
